<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Pet Store</title>
    
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/angular-route.min.js" th:src="@{/angular-route.min.js}"></script>
    
    <script type="text/javascript" src="/static/js/petStoreApp.js" th:src="@{/js/petStoreApp.js}"></script>
    <script type="text/javascript" src="/static/js/filters/petFilter.js" th:src="@{/js/filters/petFilter.js}"></script>
    <script type="text/javascript" src="/static/js/services/petFactory.js" th:src="@{/js/services/petFactory.js}"></script>
    <script type="text/javascript" src="/static/js/controllers/petController.js" th:src="@{/js/controllers/petController.js}"></script>
</head>
<body ng-app="petStoreApp" >
<div ng-controller="AppController">
     <header>
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#">Pet Store</a>
	            </div>
	            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px;">Signed in as Anonymous</p>
	        </div>
	    </nav>
	  </header>

	<div ng-view=""></div>
</div>	
	<footer class="footer">
	    <div class="container">
	        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"  class="text-muted">Page was rendered today.</p>
	    </div>
	</footer>
</body>
</html>